.stages__text {
  margin: 0;
  width: 302px;
  font-family: 'Golos-Text';
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #313131;
}

.stages__item:nth-child(7) .stages__text {
  width: 446px;
}
