.page {
  min-width: 320px;
  max-width: 2560px;
  margin: 0 auto;
  font-family: 'Merriweather', 'Golos-Text', Arial, sans-serif;
  background-color: #E9DED4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
