@import url('./__container/members__container.css');
@import url('./__heading/members__heading.css');
@import url('./__switches/members__switches.css');
@import url('./__button/members__button.css');
@import url('./__counter/members__counter.css');
@import url('./__total/members__total.css');
@import url('./__gallery/members__gallery.css');
@import url('./__profile/members__profile.css');
@import url('./__photo/members__photo.css');
@import url('./__name/members__name.css');
@import url('./__status/members__status.css');
@import url('./__more/members__more.css');
@import url('./__switches/_position_down/members__switches_position_down.css');
@import url('./__switches/_position_up/members__switches_position_up.css');
@import url('./__button/_position_down/members__button_position_down.css');
@import url('./__counter/_position_down/members__counter_position_down.css');

.members {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  width: min(95%, 1222px);
}


@media screen and (max-width: 720px) {
  .members {
    align-items: center;
    margin-top: 110px;
    width: 335px;
  }
}


@media screen and (max-width: 350px) {
  .members {
    width: 100%;
  }
}
