.members__status {
  margin: 0;
  font-family: 'Golos-Text';
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #313131;
  opacity: 60%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
