.intro__button_type_more {
  background-color: #E9DED4;
}


@media screen and (max-width: 720px) {
  .intro__button_type_more {
    border: 0;
    background-color: white;
    opacity: 90%;
  }
}

.intro__button_type_more:hover {
  opacity: 100%;
  background-color: #1F1F1F;
}

.intro__button_type_more:hover .button__more-text {
  color: white;
}
