@import url('./__text/tickets__text.css');
@import url('./__text/_color_red/tickets__text_color_red.css');
@import url('./__text/_color_black/tickets__text_color_black.css');
@import url('./__text/_position_down/tickets__text_position_down.css');
@import url('./__group/tickets__group.css');
@import url('./__pic/tickets__pic.css');
@import url('./__info/tickets__info.css');
@import url('./__table/tickets__table.css');
@import url('./__tabletext/tickets__tabletext.css');
@import url('./__questions/tickets__questions.css');
@import url('./__tabletext/_position_left/tickets__tabletext_position_left.css');
@import url('./__tabletext/_position_right/tickets__tabletext_position_right.css');
@import url('./__tabletext/_style_crossout/tickets__tabletext_style_crossout.css');

.tickets {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  width: min(95%, 1222px);
}

@media screen and (max-width: 720px) {
  .tickets {
    align-items: center;
  }
}

@media screen and (max-width: 350px) {
  .tickets {
    width: 100%;
  }
}
