.members__heading {
  margin: 0;
  font-family: 'Merriweather';
  width: 806px;
  font-weight: 400;
  font-size: 54px;
  line-height: 120%;
  color: #313131;
  text-transform: uppercase;
}


@media screen and (max-width: 720px) {
  .members__heading {
    max-width: 335px;
    font-size: 36px;
  }
}
