@import url('./__text/intro__text.css');
@import url('./__pic/intro__pic.css');
@import url('./__headline/intro__headline.css');
@import url('./__caption/intro__caption.css');
@import url('./__buttons/intro__buttons.css');
@import url('./__button/intro__button.css');
@import url('./__circletext/intro__circletext.css');

.intro {
  position: relative;
  justify-content: start;
  width: min(95%, 1222px);
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-top: 62px;
  background-color: #E9DED4;
}

@media screen and (max-width: 960px) {
  .intro {
    justify-content: center;
  }
}

@media screen and (max-width: 960px) {
  .intro {
    justify-content: center;
  }
}

@media screen and (max-width: 720px) {
  .intro {
    padding-top: 40px;
  }
}

@media screen and (max-width: 350px) {
  .intro {
    width: 100%;
  }
}
