.tickets__text {
  margin: 0;
  font-family: 'Merriweather';
  max-width: 764px;
  font-weight: 400;
  font-size: 36px;
  line-height: 135%;
  color: #313131;
  margin-top: 107px;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  .tickets__text {
    max-width: 600px;
    font-size: 28px;
  }
}

@media screen and (max-width: 720px) {
  .tickets__text {
    margin-top: 48px;
    max-width: 335px;
    font-size: 28px;
  }
}


@media screen and (max-width: 350px) {
  .tickets__text {
    width: 250px;
    font-size: 20px;
  }
}
