.tickets__questions {
  margin: 0;
  margin-top: 48px;
  font-family: 'Golos-Text';
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #3057A2;
}

@media screen and (max-width: 960px) {
  .tickets__questions {
    font-size: 18px;
  }
}

@media screen and (max-width: 720px) {
  .tickets__questions {
    margin-top: 40px;
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .tickets__questions {
    font-size: 14px;
    width: 75%;
  }
}
