.intro__button_type_submit {
  background-color: #1F1F1F;
}

.intro__button_type_submit:hover {
  background-color: #FBCE51;
  border: 0;
}

.intro__button_type_submit:hover .button__submit-text {
  color: #1F1F1F;
}
