.members__button {
  background-color: #313131;
  border: none;
  color: white;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-size: 24px;
}


.members__button:hover {
  background-color: #FBCE51;
}

.members__button:disabled {
  background-color: #D6D6D6;
}
