.tickets__tabletext {
  margin: 0;
  font-family: 'Golos-Text';
  font-size: 20px;
  line-height: 120%;
  color: #313131;
  border: 1px solid #D0D0D0;
  padding: 10px;
  vertical-align: top;
}


@media screen and (max-width: 960px) {
  .tickets__tabletext {
    font-size: 16px;
  }
}

@media screen and (max-width: 720px) {
  .tickets__tabletext {
    display: block;
    width: 100%;
    border: none;
    padding: 0;
  }
}

@media screen and (max-width: 350px) {
  .tickets__tabletext {
    font-size: 14px;
  }
}
