@import url('./__note/footer__note.css');

.footer {
  width: min(95%, 1222px);
  display: flex;
  align-items: start;
  background-color: #E9DED4;
}

@media screen and (max-width: 720px) {
  .footer {
    width: 335px;
  }
}

@media screen and (max-width: 350px) {
  .footer {
    width: 100%;
  }
}
